body {
  font-family: Helvetica, sans-serif;
}

footer {
  font-size: 0.85rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

i {
  margin-right: 8px;
  font-size: 1.5rem;
}

.swiper {
  overflow: visible;
}

.swiper-slide {
  overflow: visible;
  position: relative;
  z-index: 1;
}

.swiper-slide img {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-origin: center center;
  z-index: 1;
  position: relative;
}

.swiper-slide img:hover {
  transform: scale(1.3);
  z-index: 100;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.swiper-slide:hover ~ .swiper-slide {
  z-index: 0;
}
