@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

footer {
  font-size: 0.85rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

i {
  margin-right: 8px;
  font-size: 1.5rem;
}
